# Environments
**/myvenv/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json
